mixin catalog()
    +b.MAIN.catalog
        +e.H1.title Мужская коллекция
        +e.P.description 
            | Краткое, но очень красочное описание всей мужской коллекции, которое мотивирует покупать
        +e.filter
            +filter
        +products
        +e.overlay