mixin product()
    +b.SECTION.product
        +inner
            +e.wrapper
                +e.slider
                    +product-slider
                +e.description
                    +product-data