mixin socials()
    +b.socials
        +e.A.item.--instagram(href='https://instagram.com/' target='_blank' rel="nofollow noopener")
            +icon('instagram')
        +e.A.item.--facebook(href='https://facebook.com/' target='_blank' rel="nofollow noopener")
            +icon('fb')
        +e.A.item.--vk(href='https://vk.com/' target='_blank' rel="nofollow noopener")
            +icon('vk')
        +e.A.item.--twitter(href='https://www.twitter.com/' target='_blank' rel="nofollow noopener")
            +icon('twitter')
