.socials {
    width: 100%;

    display: flex;
    align-items: center;
}

.socials__item {
    position: relative;
    width: 36px;
    height: 36px;
    margin-right: 10px;

    background-color: #ebebeb;
    border-radius: 50%;

    transition: background-color 300ms ease;

    svg {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        fill: $text-color-l;
    }

    &--vk {
        svg {
            width: 18px;
        }
    }

    &:hover,
    &:active,
    &:focus {
        background-color: darken(#ebebeb, 20%);
    }
}