.socials {
    width: 100%;

    display: flex;
    align-items: center;
}

.socials__item {
    position: relative;
    width: 36px;
    height: 36px;
    margin-right: 10px;

    background-size: cover;

    &--instagram {
        background-image: url('../images/socials/instagram.png');
    }

    &--facebook {
        background-image: url('../images/socials/fb.png');
    }

    &--vk {
        background-image: url('../images/socials/vk.png');
    }

    &--twitter {
        background-image: url('../images/socials/twitter.png');
    }
}