mixin socials()
    +b.socials
        +e.A.item.--instagram(href='https://instagram.com/' target='_blank' rel="nofollow noopener")
        +e.A.item.--facebook(href='https://facebook.com/' target='_blank' rel="nofollow noopener")
        +e.A.item.--vk(href='https://vk.com/' target='_blank' rel="nofollow noopener")
        +e.A.item.--twitter(href='https://www.twitter.com/' target='_blank' rel="nofollow noopener")
