mixin city-select()
    +b.city-select#city-select
        .bx-ui-slst-pool
            .dropdown-block.bx-ui-slst-input-block.disabled-keyboard
                span.dropdown-icon
                input.dropdown-field(type="text" name="" value="" autocomplete="off" style="display: none;")
                .bx-ui-combobox-container(style="margin: 0px; padding: 0px; border: none; position: relative;")
                    .bx-ui-combobox-fake.bx-combobox-fake-as-input Россия
                .dropdown-fade2white
                .bx-ui-combobox-loader(data-bx-ui-id="combobox-loader")
                .bx-ui-combobox-toggle(title="Открыть / закрыть" data-bx-ui-id="combobox-toggle")
            .dropdown-block.bx-ui-slst-input-block.disabled-keyboard
                span.dropdown-icon
                input.dropdown-field(type="text" name="" value="" autocomplete="off" style="display: none;")
                .bx-ui-combobox-container(style="margin: 0px; padding: 0px; border: none; position: relative;")
                    .bx-ui-combobox-fake.bx-combobox-fake-as-input Северо-Запад
                .dropdown-fade2white
                .bx-ui-combobox-loader(data-bx-ui-id="combobox-loader")
                .bx-ui-combobox-toggle(title="Открыть / закрыть" data-bx-ui-id="combobox-toggle")
            .dropdown-block.bx-ui-slst-input-block.disabled-keyboard
                span.dropdown-icon
                input.dropdown-field(type="text" name="" value="" autocomplete="off" style="display: none;")
                .bx-ui-combobox-container(style="margin: 0px; padding: 0px; border: none; position: relative;")
                    .bx-ui-combobox-fake.bx-combobox-fake-as-input Санкт-Петербург
                .dropdown-fade2white
                .bx-ui-combobox-loader(data-bx-ui-id="combobox-loader")
                .bx-ui-combobox-toggle(title="Открыть / закрыть" data-bx-ui-id="combobox-toggle")
