.terms {
    font-family: $opsans;
}

.terms__sidebar {
    position: fixed;
    width: 100%;
    top: 47px;
    left: 0;
    padding: 15px 0;
    background-color: #fff;
    z-index: 1;

    border-bottom: 1px solid #dcdcdc;
}

.terms__content {
    padding-top: 150px;
}

@media #{$tablet} {
    .terms__sidebar {
        position: absolute;
        width: auto;
        max-width: 230px;
        left: 0;
        top: 65px;
        padding: 0;
        border: none;
    }

    .terms__content {
        padding-top: 0;
        padding-left: 40%;
    }
}