.hamburger {
    width: 16px;

    &:hover {
        cursor: pointer;
    }
}

.hamburger__line {
    width: 100%;
    height: 2px;
    background-color: $themecolor;
    display: block;
    margin: 0 auto 3px;

    transition: all 300ms ease;

    &:last-child {
        margin-bottom: 0;
    }
}

.hamburger.active {
    .hamburger__line:nth-child(2) {
        opacity: 0;
    }
}

.hamburger.active {
    .hamburger__line:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }
}

.hamburger.active {
    .hamburger__line:nth-child(3) {
       transform: translateY(-5px) rotate(-45deg);
    }
}
