mixin footer-appeal()
    +b.footer-appeal
        +e.title
        +e.FORM.form(method='post' action='#')
            +e.INPUT.input(type="email", name="email" placeholder='Ваш E-mail')
            +e.BUTTON.submit Подписаться
            +e.legal
                | Нажимая на кнопку «Подписаться», вы даете согласие на обработку персональных данных и соглашаетесь c <a href='/policy'>политикой конфиденциальности</a>.