.inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 480px;
    padding: 0 15px;
}

@media #{$tablet} {
    .inner {
        max-width: 940px;
        padding: 0 40px;
    }
}

@media #{$desktop} {
    .inner {
        max-width: 980px;
        padding: 0 20px;
    }
}
