mixin layout-select()
    +b.layout-select
        +e.BUTTON.option.--one(href='#' data-layout='layout1')
            include ../../../app/images/svg/layout1.svg
        +e.BUTTON.option.--two(href='#' data-layout='layout2')
            include ../../../app/images/svg/layout2.svg
        +e.BUTTON.option.--three(href='#' data-layout='layout3')
            include ../../../app/images/svg/layout3.svg
        +e.BUTTON.option.--six(href='#' data-layout='layout6')
            include ../../../app/images/svg/layout6.svg