.layout-select {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.layout-select__option {
    position: relative;
    margin-left: 10px;
    padding: 0;
    background: none;
    border: none;
    outline: none;

    &:first-child {
        margin-left: 0;
    }

    svg {
        display: block;
        width: auto;
        height: auto;

        transition: fill 300ms ease;
    }

    &--three,
    &--six {
        display: none;
    }

    &.active,
    &:hover,
    &:active,
    &:focus {
        svg {
            fill: $themecolor;
        }
    }
}

@media #{$tablet} {
    .layout-select__option {
        display: none;

        &--three,
        &--six {
            display: block;
        }
    }
}