mixin layout-select()
    +b.layout-select
        +e.A.option.--one(href='#')
            include ../../../app/images/svg/layout1.svg
        +e.A.option.--two(href='#')
            include ../../../app/images/svg/layout2.svg
        +e.A.option.--three(href='#')
            include ../../../app/images/svg/layout3.svg
        +e.A.option.--six(href='#')
            include ../../../app/images/svg/layout6.svg