mixin filter()
    +b.SECTION.filter
        +e.row
            +e.categories
                +e.A.category.active(href='#') Все
                +e.A.category(href='#') Ручные
                +e.A.category(href='#') Рюкзаки
                +e.A.category(href='#') Через плечо
        +e.row
            +e.sorting
                +e.sort-type
                    +color-select
                +e.sort-type
                    +order-select
                +e.sort-type
                    +layout-select