mixin contacts()
    +b.SECTION.contacts
        +inner
            +e.H1.title Контакты
            +e.P.subtitle Мы всегда вам рады! Если у вас есть какой-то вопрос — задайте его любым удобным способом.
            +e.content
                +e.col
                    +e.block
                        +e.A.block-title.--link(href='tel:+78127482446') +7 (812) 748-24-46
                        +e.block-info Санкт-Петербург
                    +e.block
                        +e.A.block-title.--link(href='tel:+74996382326') +7 (499) 638-23-26
                        +e.block-info Москва
                +e.col
                    +e.block
                        +e.block-title Санкт-Петербург, ул.&nbsp;Радищева,&nbsp;17&#8209;19 
                        +e.block-info Адрес шоу-рума в Санкт-Петербурге,<br> открыт ежедневно с 11:00 до 21:00 
                        +e.A.route-link(href='#') Проложить маршрут <span class='icon'>→</span>
                    +e.block
                        +e.block-title Москва, ул.&nbsp;Румпельштильцхена,&nbsp;156 
                        +e.block-info Адрес шоу-рума в Москве,<br> открыт ежедневно с 10:00 до 20:00 
                        +e.A.route-link(href='#') Проложить маршрут <span class='icon'>→</span>
                +e.col
                    +e.block
                        +e.A.block-title.--link(href='mailto:hello@two-ta.ru') hello@two-ta.ru
                        +e.block-info Ответим на любые вопросы о нашей работе
                    +e.block
                        +e.A.block-title.--link(href='mailto:guarantee@two-ta.ru') guarantee@two-ta.ru 
                        +e.block-info По любым проблемам с изделиями&nbsp;— поможем&nbsp;сразу!
                    +e.block
                        +e.A.block-title.--link(href='mailto:partner@two-ta.ru') partner@two-ta.ru 
                        +e.block-info Есть предложения по сотрудничеству&nbsp;— напишите&nbsp;нам! 