mixin main-footer(id)
    +b.FOOTER.main-footer(id=id)
        +inner
            +e.row
                +e.col
                    +e.info
                +e.col
                    +footer-nav
                +e.col
                    +footer-appeal
            +e.row
                +e.legal
                    +e.legal-text
                        | 2015-2018 © Two-ta leather works. 
                    +e.legal-text
                        | Использование материалов сайта без ссылки как минимум некрасиво =)
                    +e.A.legal-link(href='/policy') Политика конфиденциальности
                    +e.A.legal-link(href='#') Публичная оферта
