.main-footer {
    font-family: $opsans;
    color: $light-text;
    line-height: normal;
}

.main-footer__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.main-footer__logo {
    width: 100px;
    // margin: 36px auto 0;

    img {
        @include img;
    }
}

.main-footer__phone {
    font-size: 12px;
    text-align: right;
    margin-left: auto;
    
}

.main-footer__phone-number {
    display: none;
    position: relative;

    color: $light-text;
    font-size: 18px;
    font-weight: 700;

    transition: color 300ms ease;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: darken($light-text, 15%);
    }

    &--mobile {
        display: block;
    }
}

.main-footer__phone-time {
    font-weight: 700;
}

.main-footer__legal {
    margin: 16px auto 0;

    text-align: center;
    font-size: 12px;
}

@media #{$tablet} {
    .main-footer__row {
        position: relative;
        flex-wrap: nowrap;
    }

    .main-footer__logo {
        width: 100px;
        margin: 0;
        margin-right: 20px;

        img {
            width: 100%;
        }
    }

    .main-footer__legal {
        max-width: 180px;
        margin: 0 auto;

        text-align: center;
    }

    .main-footer__phone {
        order: 2;
        margin: 0;
    }

    .main-footer__phone-number {
        display: block;

        &--mobile {
            display: none;
        }
    }
}

@media #{$desktop} {
    .main-footer__logo {
        width: 186px;
    }

    .main-footer__legal {
        max-width: 340px;

        font-size: 22px;
    }

    .main-footer__phone {
        font-size: 22px;
    }

    .main-footer__phone-number {
        font-size: 34px;
    }
}