mixin order-select()
    +b.order-select
        +e.label Сортировка
        +e.drop-down
            +e.A.item(href='#') Стандарт
            +e.A.item(href='#') Цена
            +e.A.item(href='#') Дата
            +e.A.item(href='#') Материал
