.order-select {
    position: relative;

    color: #000;
    font-family: $opsans;
}

.order-select__label {
    position: relative;
    display: inline-block;
    padding-right: 20px;

    font-size: 14px;

    cursor: pointer;
    
    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;

        border: 3px solid black;
        border-top-color: transparent;
        border-right-color: transparent;
        
        transform: translateY(-75%) rotate(-45deg);

        transition: all 300ms ease;
    }

    &:hover,
    &:active,
    &:focus {
        color: $themecolor;

        &::before {
            border-color: $themecolor;
            border-top-color: transparent;
            border-right-color: transparent;
        }
    }

    &.active {
        &::before {
            transform: rotate(-225deg);
        }
    }
}

.order-select__drop-down {
    position: absolute;
    width: auto;
    min-width: 100%;
    top: 35px;
    left: -15px;
    padding: 20px;
    z-index: 9;
    opacity: 0;

    background-color: #f5f5f5;

    pointer-events: none;

    transition: opacity 300ms ease;

    &.active {
        opacity: 1;
        pointer-events: initial;
    }
}

.order-select__item {
    display: block;
    margin-bottom: 14px;

    color: #666666;
    font-size: 14px;
    font-weight: 400;

    transition: color 300ms ease;


    &.selected {
       color: $themecolor;
    }

    &:hover,
    &:active,
    &:focus {
        color: $themecolor;
        text-decoration: none;
       
    }
}
@media #{$tablet} {
    .order-select__label {
        font-size: 16px;
    }
}