mixin about()
    +b.SECTION.about
        +e.header
            +e.header-content
                +e.H1.title Уютные кожанные сумки
                +e.H2.subtitle Сделано вручную в&nbsp;Санкт-Петербурге
        +e.block
            +inner
                +e.content
                    +e.col.--small
                        +e.content-image
                            img(src="images/about/ceo.jpg", alt="Основатели Two-Ta Таня и Антон")
                    +e.col
                        +e.content-article
                            +e.H3.content-title 2000-2008
                            +e.P.content-text Сначала нас было двое: Таня и Антон. Мы родились и выросли в   Санкт-Петербурге. Получив образование в сфере дизайна, мы старались расширить знания и набраться опыта, поэтому продолжили обучение в Европе. Там мы поняли всю важность промышленного дизайна и решили, что если чего-то не хватает - мы можем сами это создать. Сумки и разные аксессуары из кожи всегда были нашей слабостью: нам нравится тепло и естественность материала, атмосфера, которую создают вокруг себя кожаные изделия. Опыт работы в производстве кожаных сумок позволил всё делать самостоятельно. 
                        +e.content-article
                            +e.H3.content-title 2009
                            +e.P.content-text В 2009 году мы открыли свою мастерскую под брендом Two-Ta leather works. Нам нравится ручная работа - вещь изготовленная мастером имеет особую энергетику. С самого начала мы всё делали сами и не собираемся что-либо менять, несмотря на то, что наша команда увеличилась. Философия проста: «Стремись делать вещи настолько хорошо, насколько это возможно!», для этого мы развиваем производство в Петербурге. Нас вдохновляет атмосфера этого города, благодаря ей словосочетание «уютные кожаные сумки» как нельзя лучше характеризует наш стиль.
        +e.divider.--first
        +e.block
            +inner
                +e.content
                    +e.col
                        +e.content-article
                            +e.H3.content-title Дизайн — наша страсть!
                            +e.P.content-text Разработка дизайна — захватывающий процесс! Нас многое вдохновляет: от классических скандинавских форм до щегольских американских мотивов. Главное правило для нас — функциональность дизайна. Мы не допускаем излишества в деталях, а те, что находят своё место в изделии, стараемся доводить до идеала. Классические силуэты, современный естественный дизайн и тепло качественных материалов — такими мы видим наши вещи.
                        +e.content-article
                            +e.H3.content-title Настоящая кожа
                            +e.P.content-text С самого начала нашей страстью была натуральная кожа — материал, обладающий исключительными свойствами и неповторимой эстетикой. Для наших сумок и аксессуаров мы отбираем высококачественную кожу растительного и хромового дубления, способную подарить массу приятных тактильных ощущений. Большая часть материала производится в Италии, ведь местные мастера по праву считаются лидерами в области производства натуральной кожи.
                        +e.content-article    
                            +e.H3.content-title Качественная фурнитура
                            +e.P.content-text Крайне важными элементами кожаных сумок являются застёжки и кнопки — от их качества зависит долговечность и комфорт использования сумки. Мы обратились к мировым лидерам: немецкой компании PRYM, зготавливающей кнопки почти 500 лет, и целому ряду производителей металлических молний, таких как YKK, Tex Import и General Zipp. Используя самые лучшие материалы, мы можем гордиться полученным результатом и видеть благодарные лица наших клиентов.
                    +e.col.--small
                        +e.content-image
                            img(src="images/about/materials.jpg", alt="Two-Ta: ручная работа")
        +e.divider.--second
        +e.block
            +inner
                +e.content
                    +e.col.--small
                        +e.content-image
                            img(src="images/about/lettering.jpg", alt="Тиснение в Two-Ta")
                    +e.col.--columns
                        +e.content-article
                            +e.H3.content-title Выбор материала
                            +e.P.content-text Для наших сумок мы чаще всего используем кожу телёнка, выделываемую на фабриках Италии. Кожа достаточно толстая — от 1,5 до 2 мм, что отличает наши сумки от вещей большинства производителей, работающих с толщиной, в среднем, 1,2 мм.
                        +e.content-article
                            +e.H3.content-title Раскрой
                            +e.P.content-text Каждая шкура индивидуальна, имеет особенный размер и рисунок, уникальную фактуру - всё это делает невозможной поточную работу с кожей. Для раскроя кожи требуется опытный глаз мастера, твердая рука и любовь к своему делу.
                        +e.content-article
                            +e.H3.content-title Пошив
                            +e.P.content-text Пошив сумок требует большой концентрации внимания, усидчивости и опыта - всё это есть у членов нашей команды. Мы используем только современное оборудование, помогающее добиваться высокого качества создаваемых нами изделий.
                        +e.content-article
                            +e.H3.content-title Тиснение
                            +e.P.content-text Процесс установки логотипа - настоящее искусство. Это делается на специальном прессе, под воздействием высокой температуры. Мы полностью контролируем этот процесс, благодаря чему можем предложить изготовление именных вещей.