mixin main-header
    +b.HEADER.main-header
        +e.inner
            +e.logo
                img(src="images/logo_m.png", alt="")
            +e.hamburger
                +hamburger
            +e.side-menu
                +side-menu