mixin checkout()
    +b.SECTION.checkout
        +inner
            +e.wrapper
                +e.MAIN.content
                    +checkout-form
                +e.ASIDE.aside
                    +order-preview