mixin terms-content()
    +b.MAIN.terms-content
        h1 Гарантии
        p Мы хотим, чтобы Вы получали удовольствие от использования наших вещей, поэтому мы даём смелые гарантии на все изделия. Законный срок гарантии – 40 дней. Мы идём дальше и расширяем гарантийный сервис до 3 месяцев! При возникновении любых проблем с изделием, просто напишите в наш гарантийный отдел <a href='mailto:guarantee@two-ta.ru'>guarantee@two-ta.ru</a> и мы оперативно решим проблему в индивидуальном порядке!
        p Гарантия распространяется на всё, что не связано с износом: фурнитура, швы и клеевые соединения. После истечения гарантийного срока, мы не бросаем Вас и всегда готовы помочь решить любые проблемы с изделиями – просто напишите нам <a href='mailto:guarantee@two-ta.ru'>guarantee@two-ta.ru</a> и мы придём на помощь!
        h2 Обмен и возврат товара надлежащего качества
        p Заказчик вправе вернуть товар надлежащего качества, приобретённый в Интернет-магазине в течение 14 дней с момента получения заказа при условии полной сохранности упаковки и её частей, товарного вида изделия и всех его потребительских свойств. После получения товара нами мы осуществим возврат средств в полном объёме, за исключением стоимости доставки.
        h2 Возврат бракованного товара
        p Все изделия выпускаются ограниченными тиражами и проходят тщательный контроль качества, поэтому вероятность наличия брака очень мала, однако мы обязаны предусмотреть это: в случае обнаружения брака сразу напишите в наш гарантийный отдел <a href='mailto:guarantee@two-ta.ru'>guarantee@two-ta.ru</a>, по возможности прикрепив фотографии дефектов. Вы можете заявить о наличии брака в изделии (за исключением скрытых дефектов, обслуживаемых в гарантийном порядке) в течение 14 дней. При подтверждении  наличия брака в изделии пересылка в обе стороны будет возмещена в полном объёме.
        h2 Важные аспекты гарантийной политики
        ul
            li
                p Обращаем Ваше внимание, что все изделия, выполненные из натуральной кожи, могут иметь естественные морщинки, неравномерности фактуры и окраски, затянувшиеся шрамы и прочие особенности данного натурального материала. Мы стараемся минимизировать наличие таких элементов в деталях наших изделий или сделать их наименее заметными. Такие особенности не являются дефектами и не могут служить основанием для претензий к качеству продукции.
            li
                p Обращаем Ваше внимание, что все изделия, изготовленные индивидуально и имеющие какие-либо отличие от серийно выпускаемой продукции (в том числе выполненные в отличных от представленных на сайте цветах кожи (для данной модели), с изменением подкладочной ткани, модификацией внутреннего устройства, нанесением индивидуальных надписей или логотипов и пр.) обмену и возврату не подлежат.
            li
                p Обращаем Ваше внимание, что многие детали наших изделий изготавливаются с открытым срезом кожи. Это значит, что края деталей ничем не обрабатываются и не заклеиваются.
                p В связи с этим возможно осыпание частиц кожи в первое время эксплуатации изделий. Осыпание прекращается по мере эксплуатации.
                p Открытые срезы кожи могут окрашивать светлую одежду при намокании или интенсивном трении. Не допускайте контакта открытых срезов деталей изделий со светлой одеждой. 
            li
                p Несмотря на то, что мы стараемся максимально объективно передать цвета изделий на представленных в интернет-магазине фотографиях, искажения цвета неизбежны, они вызваны: различиями в цветопередаче разных мониторов, различиями в освещении объекта, неизбежными искажениями при фотосъёмке, различиями в восприятии цвета каждым человеком. В связи с этим:
                p <span style='color: #ea4c55'>ВНИМАНИЕ!</span> Если для Вас критически важен конкретный оттенок цвета кожи и Вы не уверены, что используемый нами цвет полностью удовлетворит Ваши пожелания, то, пожалуйста, перед оформлением заказа свяжитесь с нами по электронной почте <a href='mailto:hello@two-ta.ru'>hello@two-ta.ru</a> или по телефону <b>+7 (812) 748-24-46</b> и мы постараемся сделать всё возможное, чтобы максимально точно продемонстрировать Вам цвет изделия в индивидуальном порядке. Если такого запроса не поступило и заказ был оформлен, то Вы выражаете своё согласие с тем, что фактический цвет изделия может несколько отличаться от воспринятого Вами по фотографиям в Каталоге. В этом случае товар подлежит обмену и возврату в соответствии с пунктом "Обмен и возврат товара надлежащего качества".














