mixin terms-content()
    +b.MAIN.terms-content
        h1 Гарантии
        p Мы хотим, чтобы Вы получали удовольствие от использования наших вещей, поэтому мы даём смелые гарантии на все изделия. Законный срок гарантии – 40 дней. Мы идём дальше и расширяем гарантийный сервис до 3 месяцев! При возникновении любых проблем с изделием, просто напишите в наш гарантийный отдел guarantee@two-ta.ru и мы оперативно решим проблему в индивидуальном порядке!
        p Гарантия распространяется на всё, что не связано с износом: фурнитура, швы и клеевые соединения. После истечения гарантийного срока, мы не бросаем Вас и всегда готовы помочь решить любые проблемы с изделиями – просто напишите нам guarantee@two-ta.ru и мы придём на помощь !