.modal {
    font-family: $opsans;

    text-align: center;

    &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

.modal-backdrop {
    background-color: #333333;

    &.in {
        opacity: 0.8;
    }
}

.modal .modal-dialog {
    display: inline-block;
    vertical-align: middle;
    width: 310px;
    margin: 0 auto;
}

#signupModal {
    display: none;
}

.modal-header {
    padding: 0;
    border: none;

    .close {
        position: absolute;
        z-index: 99;
        top: 5px;
        right: 15px;
        font-size: 30px;
        font-weight: 100;

        appearance: none;
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;

        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.2;
    }
}

.modal-body {
    text-align: left;
    padding: 0;
}

.modal-content {
    border: none;
    padding: 25px 30px;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none !important;
}

.modal-title {
    margin: 0 0 25px;
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

#authorizationModal .modal-title {
    font-family: $sansation;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

.modal-input-row {
    margin-bottom: 15px;

    &.columns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }
}

.modal-checkbox {
    flex: 0 0 auto;

    input {
        display: none;
    }

    label {
        position: relative;
        padding-left: 20px;

        color: $text-color-l;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.3px;

        cursor: pointer;

        transition: color 300ms ease;

        &::before {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            transition: background-color 300ms ease;

            border: 1px solid $text-color-l;
        }

        &:hover,
        &:active,
        &:focus {
            color: $text-color;
        }
    }

    input:checked + label {
        color: $text-color;

        &::before {
            background-color: $text-color;
        }
    }
}

a.forgot {
    position: relative;
    color: $text-color;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-decoration: none;

    transition: color 300ms ease;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;

        background-color: $text-color;

        transition: background-color 300ms ease;
    }

    &:hover,
    &:active,
    &:focus {
        color: $themecolor;
        text-decoration: none;

        &::after {
            background-color: $themecolor;
        }
    }
}

.modal-input {
    width: 100%;
    padding: 8px 14px;
    border: 1px solid #cccccc;
    background-color: #fff;

    color: $text-color;
    font-size: 14px;
    font-weight: 400;

    outline: none;

    transition: border 300ms ease;

    &::placeholder {
        color: #999999;
        letter-spacing: 0.35px;
    }

    &:focus {
        border-color: $text-color-d;
    }
}

.modal-submit {
    @include btn-theme(#000);
    padding: 8px 20px;
    width: 100%;
    margin-bottom: 12px;
}

.modal-legal {
    color: $text-color-l;
    font-size: 12px;
    line-height: 1.35;

    a {
        color: $text-color;
        text-decoration: underline;

        transition: color 300ms ease;

        &:hover,
        &:focus,
        &:active {
            color: $themecolor;
        }
    }
}

.modal-footer {
    padding: 25px 0 0;
    border-top: 1px solid #ebebeb;
    text-align: left;

    p {
        margin: 0 0 10px;
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
    }

    a {
        @include btn-transparent(#000);
        padding: 8px 20px;
        width: 100%;
    }
}

body.modal-open {
    overflow: auto !important;
    padding-right: 0 !important;
}
