mixin modal()
    #loginModal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    h3.modal-title Вход
                    form.modal-form(name='form1')
                        .modal-input-row
                            input.modal-input(type='email' id='login_email' name='loginEmail' placeholder='E-mail')
                        .modal-input-row
                            input.modal-input(type='password' id='login_password' name='loginPassword' required='' placeholder='Пароль')
                        button.modal-submit(type='submit' name='submit') Войти
                        .modal-input-row.columns
                            .modal-checkbox
                                input(type='checkbox' name='loginRemember' id='login-remember')
                                label(for='login-remember') Запомнить меня
                            a.forgot(href='#') Забыли пароль?
                .modal-footer
                    p Первый раз на нашем сайте? Зарегистрируйтесь прямо сейчас!
                    a(href='#') Регистрация
    #callbackModal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    +e.H3.modal-title Оставьте Ваш номер, мы Вам перезвоним!
                    form.modal-form(name='callbackModal')
                        .modal-input-row
                            //- label.modal-label(for='callback-name') Имя
                            input.modal-input(type='text' id='callback-name' name='callbackName' placeholder='Ваше имя')
                        .modal-input-row
                            //- label.modal-label(for='callback-phone') Телефон
                            input.modal-input(id='callback-phone' name='callbackPhone' data-inputmask="'mask': '+7 (999) 999 99 99'" required='' placeholder='Ваш телефон')
                        button.modal-submit(type='submit' name='submit') Заказать звонок
                        .modal-legal
                            | Нажимая на кнопку «Заказать звонок», вы даете согласие на обработку персональных данных и соглашаетесь c <a href='#'>политикой конфиденциальности</a>. 
    