mixin final()
    +b.SECTION.final
        +inner
            +e.HEADER.header
                +e.H2.heading Cпасибо! Ваш заказ принят.
                +e.P.subtitle Проверьте вашу почту, мы отправили вам информацию о заказе и оплате!
            +e.content
                +e.H3.result Заказ <b>40416</b> успешно&nbsp;создан
                +e.date от 19.04.2019 13:01:47
                +e.P.info
                    | Вы можете следить за выполнением своего заказа в <a href='#'>Персональном разделе сайта</a>. Обратите внимание, что для входав этот раздел вам необходимо будет ввести логин и пароль пользователя сайта.
                +e.data
                    +e.data-cell
                        +e.data-title Номер заказа:
                        +e.data-content 40416
                    +e.data-cell
                        +e.data-title Дата:
                        +e.data-content 19.04.2019
                    +e.data-cell
                        +e.data-title Сумма заказа:
                        +e.data-content 19550 руб.
                    +e.data-cell
                        +e.data-title Доставка:
                        +e.data-content Самовывоз
                    +e.data-cell
                        +e.data-title Метод оплаты:
                        +e.data-content Наличными в шоуруме
