mixin top-screen
    +b.SECTION.top-screen
        +e.slider
            +e.slide
                +e.content
                    +e.H2.title Сумка&nbsp;&mdash; лучший новогодний подарок в&nbsp;этом году!
                    +e.A.button(href='#') Выбрать подарки
            +e.slide
                +e.content
                    +e.H2.title Сумка&nbsp;&mdash; лучший подарок на День рождения!
                    +e.A.button(href='#') Выбрать подарки