.top-screen {
    font-family: $opsans;
    color: $light-text;
}

.top-screen__m-bg {
    padding: 10px 0 42px;

    background-color: #727075;
    background-image: url('../images/top-screen/bg_s.jpg');
    background-size: cover;
}

.top-screen__header {
    margin-bottom: 24px;
}

.top-screen__title {
    margin: 0;

    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.top-screen__subtitle {
    margin: 0;
    margin-top: 16px;

    text-align: center;
    font-size: 18px;
}

.top-screen__row {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    padding: 40px 0 20px;
}

.top-screen__col:last-child {
    order: -1;
}

.top-screen__triggers {
    padding: 0 10px;
    // margin-bottom: 80px;
}

.top-screen__feedback {
    margin-bottom: 80px;
}


@media #{$tablet} {
    .top-screen {
        padding-top: 0;
        padding-bottom: 40px;

        background-color: #727075;
        background-image: url('../images/top-screen/bg_m.jpg');
        background-size: cover;
    }

    .top-screen__m-bg {
        padding: 0;
        background: 0;
    }

    .top-screen__header {
        margin-bottom: 56px;
        background-color: rgba(0, 0, 0, 0.45);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .top-screen__title {
        margin-bottom: 8px;
    }

    .top-screen__subtitle {
        display: block;
        margin: 0;

        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }

    .top-screen__row {
        flex-flow: row nowrap;
        max-width: 624px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    .top-screen__col {
        flex: 0 0 280px;

        &:last-child {
            order: initial;
        }
    }

    // .top-screen__triggers {
    //     margin: 0;
    // }

    .top-screen__feedback {
        margin: 0;
    }
}

@media #{$desktop} {
    .top-screen {
        padding-bottom: 80px;

        background-image: url('../images/top-screen/bg_l.jpg');
    }

    .top-screen__header {
        margin-bottom: 98px;
    }

    .top-screen__title {
        margin-bottom: 8px;

        font-size: 42px;
    }

    .top-screen__subtitle {
        margin-bottom: 72px;

        font-size: 34px;
    }

    .top-screen__row {
        max-width: 1280px;
    }

    .top-screen__col {
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .top-screen__triggers {
        max-width: 505px;
    }

    .top-screen__feedback {
        max-width: 535px;
    }

}