.top-screen {
    font-family: $opsans;
    color: #fefefe;

    background-image: url('../images/top-screen/bg_s.jpg');
    background-size: cover;
    background-position: center;
}

.top-screen__content {
    padding: 50px 30px;
    max-width: 360px;
    margin: 0 auto;
}

.top-screen__title {
    margin: 0 0 25px;

    font-family: $sansation;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.25;
}

.top-screen__button {
    @include btn-theme;
    display: inline-block;
    padding: 8px 18px;

    letter-spacing: 1.05px;
}

@media (min-width: 375px) {
    .top-screen__content {
        padding: 75px 50px;
    }
}

@media (min-width: 480px) {
    .top-screen {
        background-image: url('../images/top-screen/bg.jpg');
    }

    .top-screen__content {
        padding: 12% 50px;
        max-width: 480px;
    }
}

@media #{$tablet} {
    .top-screen__content {
        max-width: 600px;
        margin-left: 0;
        padding: 14% 80px;
    }

    .top-screen__title {
        margin-bottom: 30px;
        font-size: 32px;
    }

    .top-screen__button {
        padding: 15px 30px;
    }
}

@media #{$desktop} {
    .top-screen__content {
        max-width: none;
        padding: 14% 0;
        width: 940px;
        margin: 0 auto;
    }

    .top-screen__title {
        max-width: 600px;
        font-size: 40px;
        letter-spacing: 2px;
    }
}