mixin triggers(id)
    +b.SECTION.triggers(id=id)
        +inner
            +e.H2.heading
                | Очевидные преимущества Адвокаткина
            +e.list
                +e.item
                    +e.image
                        +icon('trigger1-white', 'triggers')
                    +e.content
                        +e.title
                            | Опыт 16 лет
                        +e.text
                            | Грамотные адвокаты узкого профиля<br> с опытом 16 лет
                +e.item
                    +e.image
                        +icon('trigger2-white', 'triggers')
                    +e.content
                        +e.title
                            | Вероятность выигрыша 93%
                        +e.text
                            | 193 дела проиграно, 1716 дел выиграно на предварительном следствии, 858 на стадии суда
                +e.item
                    +e.image
                        +icon('trigger3-white', 'triggers')
                    +e.content
                        +e.title
                            | Вытащим из любой ситуации
                        +e.text
                            | В штате работают бывшие судьи и сотрудники правоохранительных органов перешедшие в адвокаты
